<%= link_to("Home", root_path) %>
<h2><%= @cocktail.name %></h2>
<br>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %><span>:</span>
  <%= dose.description %><span>,</span>
<% end %>
<br>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<small><%= link_to("Add a new dose", new_cocktail_dose_path(@cocktail)) %></small>
